.hotline {
  &__title {
    @include PFDinTextCondPro("Medium", 16, 21);
    text-transform: uppercase;
    color: $secondary-color-text;
  }
  &__phone {
    @include PFDinTextCondPro("Medium", 36, 47);
    color: #e43219;
  }
  &__copyright {
    @include PFDinTextCondPro("Regular", 12, 21);
    color: $main-color-text;
  }
}
