@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0 53px;
  }
  main {
    .wrapper {
      height: 887px;
      .wrapper__background {
        height: 400px;
      }
    }
  }
  .action-goods {
    padding: 0 53px;
    .container {
      width: 100%;
    }
    .swiper-slide {
      &:nth-child(even) {
        img {
          width: 198px;
          height: 305px;
        }
      }
      &:nth-child(odd) {
        img {
          width: 179px;
          height: 277px;
        }
      }
    }
  }
  .action-rules {
    display: none;
  }
  .company-age {
    &__title {
      display: none;
    }
    &__baloon {
      bottom: 10px;
    }
    &__curl {
      bottom: 120px;
    }
  }
  .nav,
  .info {
    @include Flex(space-between, column, center);
    width: 100px;
    height: 65px;
    li {
      margin: 10px, 0;
    }
  }
  .hero {
    &__cheese-home {
      left: 200px;
      top: 370px;
      svg {
        width: 400px;
        height: 320px;
      }
    }
    &__prize {
      right: 205px;
    }
    &__trade-mark {
      right: 120px;
    }
    &__boy {
      left: 260px;
    }
  }
}
