// Задаю миксин шрифта, что бы уменьшить количество кода

@mixin PFDinTextCondPro($weight, $size, $height) {
  font-family: "PF Din Text Cond Pro " + $weight, sans-serif;
  font-style: normal;
  @if $weight == "Regular" {
    font-weight: 400;
  } @else if $weight == "Medium" {
    font-weight: 500;
  } @else {
    font-weight: 700;
  }
  font-size: $size + px;
  line-height: $height + px;
}
