.nav {
  width: 352px;
  height: 21px;
  @include Flex(space-between, row, stretch);
  list-style-type: none;
  li {
    @include PFDinTextCondPro("Medium", 16, 21);
    text-transform: uppercase;
    color: #5a1404;
  }
}
