.nav {
  @include Flex(space-between, row, stretch);
  width: 352px;
  height: 21px;
  list-style-type: none;
  li {
    @include PFDinTextCondPro("Medium", 16, 21);
    text-transform: uppercase;
    color: $secondary-color-text;
  }
}
