.hero   
    .hero__ellipse
        .hero__check-button 
            button загрузить чек
    .hero__ellipse
        .container
            .hero__cheese-home 
                include ../../img/cheese_home.svg
            img.hero__trade-mark(src=require("/src/img/trade_mark.png"), alt="trade_mark.png")
            img.hero__prize(src=require("/src/img/prize.png"), alt="prize.png")
            img.hero__kitchen(src=require("/src/img/kitchen.png"), alt="kitchen.png")
            img.hero__boy(src=require("/src/img/boy.png"), alt="boy.png")
