.hero   
    .hero__ellipse
        a(href="#").hero__check-button.hover
            button загрузить чек
    .hero__ellipse
        .container
            .hero__cheese-home 
                include ../../img/cheese_home.svg
            img.hero__trade-mark(src=require("/src/img/trade_mark.webp"), alt="trade_mark.webp")
            img.hero__prize(src=require("/src/img/prize.webp"), alt="prize.webp")
            img.hero__kitchen(src=require("/src/img/kitchen.webp"), alt="kitchen.webp")
            img.hero__boy(src=require("/src/img/boy.webp"), alt="boy.webp")
