.info {
  @include Flex(space-between, row, center);
  width: 353px;
  height: 21px;
  a {
    text-decoration: none;
    li {
      @include PFDinTextCondPro("Medium", 16, 21);
      list-style-type: none;
      color: $secondary-color-text;
    }
  }
}
