.info {
  @include Flex(space-between, row, center);
  width: 353px;
  height: 21px;
  li {
    list-style-type: none;
    a {
      @include PFDinTextCondPro("Medium", 16, 21);
      text-decoration: none;
      color: $secondary-color-text;
    }
  }
}
