// Fonts

@import "/src/scss/fonts.scss";

// Variables

@import "/src/scss/variables.scss";

// Mixins

@import "/src/scss/mixins/PFDinTextCondPro.scss";
@import "/src/scss/mixins/Flex.scss";

// Classes

@import "/src/scss/hover.scss";

// Blocks

@import "/src/blocks/header/header.scss";
@import "/src/blocks/hero/hero.scss";
@import "/src/blocks/action-rules/action-rules.scss";
@import "/src/blocks/company-age/company-age.scss";
@import "/src/blocks/action-goods/action-goods.scss";
@import "/src/blocks/footer/footer.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu-button {
  display: none;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  // border: 1px dashed red;
  .wrapper {
    @include Flex(center, row, stretch);
    position: relative;
    width: 100%;
    height: 1180px;
    // border: 1px dashed red;
    &__background {
      @include Flex(center, row, flex-end);
      position: absolute;
      width: 100%;
      height: 693px;
      top: 487px;
      flex-wrap: wrap;
      align-content: flex-end;
      margin-top: auto;
      margin-bottom: 0;
      background: linear-gradient(180deg, #ecb200 0%, #ffcf00 78.83%);
    }
  }
}

::-webkit-scrollbar {
  width: 0;
}

// Media Queries

@import "/src/scss/media-queries/1440-and-more.scss";
@import "/src/scss/media-queries/961-1280.scss";
@import "/src/scss/media-queries/641-960.scss";
@import "/src/scss/media-queries/360-640.scss";
