// Использую id для навигации по странице с помощью ссылок nav
footer(id="footer")
    .container 
        // Подключаю нужные блоки
        include ../hotline/hotline
        include ../info/info
        include ../subscribe/subscribe
        p.copyright &#169; 2020 ООО "Валио"