@import "/src/blocks/hotline/hotline.scss";
@import "/src/blocks/info/info.scss";
@import "/src/blocks/subscribe/subscribe.scss";

footer {
  @include Flex(center, row, center);
  width: 100%;
  height: 130px;
  border-top: 1px solid #80808033;
  //   border: 1px solid red;
  .container {
    margin-top: 22px;
    height: 99px;
    // border: 1px solid red;
    .copyright {
      display: none;
    }
  }
}
