// Задаю миксин card, что бы ускорить разработку и улучшить читаемость кода, посредством уменьшения большого количества повторяющихся кусков кода

mixin card(img, desc, classname='', price='', srcset)
    div(class= classname+'__card')(class!=attributes.class)
        div(class= classname+'__picture')
            img(src= img)(srcset= srcset)
        div(class= classname+'__description')
            p= desc 
            p= price