mixin card(img, desc, classname='')
    div(class= classname+'__card')
        div(class= classname+'__picture')
            img(src= img)
        div(class= classname+'__description')
            p= desc 