.log-in-btn {
  @include PFDinTextCondPro("Medium", 16, 21);
  @include Flex(center, row, center);
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 29px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-color-text;
  background: #ffcd00;
}
