.action-rules {
  @include Flex(center, row, stretch);
  width: 100%;
  margin-bottom: 67px;
  .container {
    flex-direction: row;
    align-items: center;
  }
  &__wrap {
    position: relative;
    width: 23px;
    height: 46px;
    box-sizing: border-box;
  }
  &__arrow-right {
    display: block;
    position: absolute;
    right: -5px;
    top: 6px;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border-right: 3px solid #e30613;
    border-bottom: 3px solid #e30613;
    transform: rotate(-45deg);
    margin-right: 10px;
    margin-left: 10px;
  }
  &__card {
    @include Flex(center, column, stretch);
    max-width: 180px;
    // border: 1px dashed red;
  }
  &__picture {
    @include Flex(center, row, center);
  }
  &__description {
    @include PFDinTextCondPro("Regular", 20, 22);
    text-align: center;
    color: $main-color-text;
    margin-top: 22px;
  }
}
