.action-rules
    .container
        +card(require('/src/img/step1.svg'), 'Покупайте сыр Oltermanni', 'action-rules')
        .action-rules__wrap
            .action-rules__arrow-right  
        +card(require('/src/img/step2.svg'), 'Регистрируйте чеки на сайте в период с 1 сентября по 30 ноября 2020 года', 'action-rules')
        .action-rules__wrap
            .action-rules__arrow-right  
        +card(require('/src/img/step3.svg'), 'Получайте гарантированные призы — деньги на телефон', 'action-rules')
        .action-rules__wrap
            .action-rules__arrow-right  
        +card(require('/src/img/step4.svg'), 'Участвуйте в еженедельных розыгрышах', 'action-rules')
        .action-rules__wrap
            .action-rules__arrow-right  
        +card(require('/src/img/step5.svg'), 'Получите возможность выиграть 400 000 ₽ на новый интерьер', 'action-rules')