.menu-drop 
    // Размещаю в выпадающем меню элементы и блоки согласно макету
    include ../nav/nav
    .menu-drop__line
    include ../info/info
    .menu-drop__line
    include ../subscribe/subscribe