@font-face {
  font-family: "PF Din Text Cond Pro Medium";
  font-style: normal;
  font-weight: 500;
  src: url("/src/fonts/PFDinTextCondPro-Medium.woff") format("woff"),
    url("/src/fonts/PFDinTextCondPro-Medium.ttf") format("truetype");
}
