.company-age(id="rules")
    h1.company-age__title Нам 40 лет — вам подарки
    .company-age__baloon
        include ../../img/baloon.svg
    .company-age__curl
        include ../../img/curl.svg
    .company-age__curl2
        include ../../img/curl2.svg