.company-age {
  @include Flex(center, row, center);
  width: 708px;
  height: 54px;
  margin-bottom: 57px;
  z-index: 10;
  &__title {
    @include PFDinTextCondPro("Medium", 60, 46);
    @include Flex(flex-start, row, center);
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    &::after {
      content: "Нам 40 лет — вам подарки";
      @include PFDinTextCondPro("Medium", 60, 46);
      @include Flex(flex-start, row, center);
      position: absolute;
      width: 100%;
      height: auto;
      bottom: 4.64px;
      left: 2px;
      text-align: center;
      text-transform: uppercase;
      color: #e63000;
    }
  }
  &__baloon,
  &__curl,
  &__curl2 {
    position: absolute;
  }
  &__baloon {
    left: 57px;
  }
  &__curl {
    right: 74px;
    bottom: 314px;
  }
  &__curl2 {
    left: 237px;
    bottom: -24px;
  }
}
