header
    .container
        .menu-button
        a(href="#").logo.hover
            // Подключаю svg изображение
            include ../../img/logo.svg
        // Подключаю нужные блоки
        include ../nav/nav
        include ../authorization/authorization
    include ../menu-drop/menu-drop
