@import "/src/blocks/authorization/authorization";
@import "/src/blocks/nav/nav.scss";
@import "/src/scss/container.scss";

header {
  @include Flex(center, row, stretch);
  width: 100%;
  height: 82px;
  background-color: white;
  // border: 1px dashed red;
  .container {
    @include Flex(space-between, row, center);
    .logo {
      @include Flex(flex-start, row, center);
      svg {
        width: 177px;
        height: 27px;
      }
    }
  }
}
